a:link, a:visited {text-decoration: none; color: #D8DEE9}
a:hover, a:active {text-decoration: underline; color: #7694b8}

.header {background-color: #3B4252; padding: 10px; color: #D8DEE9; font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;}

.nomargin {margin-left:-5em !important; margin-right:-5em !important;}

body {margin-left: 5em; margin-right: 5em; background-color: #2E3440; color: #D8DEE9; font-family: "Segoe UI", Verdana, Arial;}

.table {padding: 5px; border-collapse: collapse; border: 1px solid #D8DEE9;}

.section div {padding: 10px 20px;border: 1px solid #ddd;}

footer {position:fixed; bottom:0; margin-left:-3em !important;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

img {display: block; max-width: 100%; height: auto; width: auto\9;}

.rcorners {color: #fff !important; border-radius: 10px; border: 2px solid #D8DEE9; padding: 7px; background-color: #3B4252; width: 100px;}

@media only screen and (max-width: 640px) {*[class=wrapto100pc] {width:100%!important; height:auto !important;}*[class=hide] {display:none!important; width:0px !important;}*[class=show] {width:100%!important; height:auto!important;display:table!important;}*[class=me] {display:block!important; width:100%!important; max-height:inherit!important; overflow:visible!important;}*[class=themoney] {display: block!important; float:none!important;}}

input[id^="spoiler"]{
 display: none;
}
input[id^="spoiler"] + label {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 5px 20px;
  background: #3B4252;
  border: 2px solid #D8DEE9;
  color: #D8DEE9;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all .5s;
}
input[id^="spoiler"]:checked + label {
  color: #333;
  background: #ccc;
}
input[id^="spoiler"] ~ .spoiler {
  width: 90%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 10px auto 0; 
  padding: 10px; 
  background: #2E3440;
  border: 1px solid #ccc;
  border-radius: 8px;
}
input[id^="spoiler"]:checked + label + .spoiler{
  height: auto;
  opacity: 1;
  padding: 10px;
}